<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Grade</title>
</head>
<body>
    <div>
        <h2>Modify Grade</h2>
        
        <form th:action=@{/ModifyGrade(examDateID=${examDateID},studentID=${student.studentID})} method="POST">
            <div>
                <p><strong>StudentID:</strong> <span th:text="${student.studentID}"></span></p>
                <p><strong>Surname:</strong> <span th:text="${student.surname}"></span></p>
                <p><strong>Name:</strong> <span th:text="${student.name}"></span></p>
                <p><strong>Email:</strong> <span th:text="${student.email}"></span></p>
                <p><strong>Major:</strong> <span th:text="${student.major}"></span></p>
            </div>

            <div>
                <label for="grade">Select grade:</label>
                <select id="grade" name="grade">
                    <option value="-1">Absent</option>
                    <option value="-2">Failed</option>
                    <option value="-3">Failed(Deferred)</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">30 cum laude</option>
                </select>
            </div>

            <div>
                <button type="submit">SAVE</button>
            </div>
        </form>
        
        <div>
            <a th:href="@{/GoToRegisteredStudents(examDateID=${examDateID})}">
            	<button>BACK</button>
            </a>
        </div>
    </div>
</body>
</html>
