<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
	<display-name>ProgettoTIWJavascript</display-name>
	<context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/database</param-value> 
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>user</param-value>
    </context-param>
    <context-param>
      	<param-name>dbPassword</param-name>
        <param-value>TIW2025pass!</param-value>
    </context-param>
    <context-param>
    	<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <filter> 
    	<filter-name>CommonFilter</filter-name>
      	<filter-class>Filters.CommonFilter</filter-class> 
 	</filter> 
 	<filter> 
  		<filter-name>ProfessorFilter</filter-name> 
      	<filter-class>Filters.ProfessorFilter</filter-class> 
 	</filter> 
 	<filter> 
  		<filter-name>StudentFilter</filter-name> 
      	<filter-class>Filters.StudentFilter</filter-class> 
 	</filter> 
 	<filter-mapping> 
    	<filter-name>CommonFilter</filter-name> 
    	<url-pattern>/GetCoursesProfessor</url-pattern>
    	<url-pattern>/GetCoursesStudent</url-pattern>
    	<url-pattern>/GetDatesProfessor</url-pattern>
    	<url-pattern>/GetDatesStudent</url-pattern>
    	<url-pattern>/GetExamRecord</url-pattern>
    	<url-pattern>/GetExamResult</url-pattern>
    	<url-pattern>/GetGradableStudents</url-pattern>
    	<url-pattern>/GetRecords</url-pattern>
    	<url-pattern>/GetRegisteredStudents</url-pattern>
    	<url-pattern>/GetStudentInfo</url-pattern>
    	<url-pattern>/Logout</url-pattern>
    	<url-pattern>/ModifyGrade</url-pattern>
    	<url-pattern>/ModifyMultipleGrades</url-pattern>
    	<url-pattern>/PublishGrades</url-pattern>
    	<url-pattern>/RecordGrades</url-pattern>
    	<url-pattern>/RefuseGrade</url-pattern>
    	<url-pattern>/SubscribeToExam</url-pattern>
 	</filter-mapping> 
 	<filter-mapping> 
	    <filter-name>ProfessorFilter</filter-name> 
	    <url-pattern>/GetCoursesProfessor</url-pattern>
    	<url-pattern>/GetDatesProfessor</url-pattern>
    	<url-pattern>/GetExamRecord</url-pattern>
    	<url-pattern>/GetGradableStudents</url-pattern>
    	<url-pattern>/GetRecords</url-pattern>
    	<url-pattern>/GetRegisteredStudents</url-pattern>
    	<url-pattern>/GetStudentInfo</url-pattern>
    	<url-pattern>/ModifyGrade</url-pattern>
    	<url-pattern>/ModifyMultipleGrades</url-pattern>
    	<url-pattern>/PublishGrades</url-pattern>
    	<url-pattern>/RecordGrades</url-pattern>
 	</filter-mapping> 
 	<filter-mapping> 
    	<filter-name>StudentFilter</filter-name>
    	<url-pattern>/GetCoursesStudent</url-pattern>
    	<url-pattern>/GetDatesStudent</url-pattern>
    	<url-pattern>/GetExamResult</url-pattern>
    	<url-pattern>/RefuseGrade</url-pattern>
    	<url-pattern>/SubscribeToExam</url-pattern>    	
 	</filter-mapping> 
 	<welcome-file-list>
    	<welcome-file>login.html</welcome-file>
  	</welcome-file-list>
</web-app>