<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exam Result</title>
</head>
<body>

    <div th:if="${status != 'published'} and ${status != 'refused'} and ${status != 'recorded'}">
        <p>Grade not yet defined</p>
    </div>

    <div th:if="${status == 'published'} or ${status == 'refused'} or ${status == 'recorded'}">
    	<p><strong>Student info:</strong></p>
    	<p th:text="'Name: ' + ${student.name}"></p>
    	<p th:text="'Surname: ' + ${student.surname}"></p>
    	<p th:text="'StudentID: ' + ${student.studentID}"></p>
        <p th:text="'Major: ' + ${student.major}"></p>
        
        <p><strong>Exam info:</strong></p>
        <p th:text="'Course: ' + ${course.name} + ' (' + ${course.courseID} + ')'"></p>
        <p th:text="'Exam date: ' + ${examDate}"></p>
        <p th:text="'Grade: ' + ${grade == -4? 'None' :
		    		          	 (grade == -3? 'Failed(Deferred)' :
   			   	      		     (grade == -2? 'Failed' :
    			   	             (grade == -1? 'Absent' : 
   			   	                 (grade == 31? '30 cum laude' : grade))))}"></p>

        <div th:if="${grade >= 18 && grade <= 31} and ${status != 'refused'} and ${status != 'recorded'}">
            <a th:href="@{/RefuseGrade(examDateID=${examDateID})}">
                <button type="button">REFUSE</button>
            </a>
        </div>
        <div th:if="${status == 'refused'}">
            <p><strong>Grade has been refused</strong></p>
        </div>
        <div th:if="${status == 'recorded'}">
            <p><strong>Grade has been recorded</strong></p>
        </div>
    </div>

    <div>
        <a th:href="@{/GoToHomeStudent}">
            <button type="button">Back to Home</button>
        </a>
    </div>
</body>
</html>