<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Records Page</title>
</head>
<body>
    <h1>Created Records</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Exam Date</th>
                <th>Record ID</th>
                <th>Creation Date</th>
                <th>Creation Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${records}">
                <td th:text="${record.course.name}">Course Name</td>
                <td th:text="${record.examDate.date}">YYYY-MM-DD</td>
                <td th:text="${record.recordID}">Record ID</td>
                <td th:text="${record.creationDate}">YYYY-MM-DD</td>
                <td th:text="${record.creationTime}">HH:MM</td>
                <td>
                    <a th:href="@{/GoToExamRecord(recordID=${record.recordID})}">
                    	<button>DETAILS</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
	<div>
		<a th:href="@{/GoToHomeProfessor}">
			<button>BACK</button>
		</a>
	</div>
</body>
</html>
