<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Student</title>
</head>
<body>
    <h1 th:text="'Welcome back, ' + ${session.user.username}"></h1>
    <div align="right">
		<a th:href="@{/Logout}">
			<button type="submit">Logout</button>
		</a>
	</div>
	<div>
		<h2>Select a course:</h2>
		<span style="display:none" th:style="${hiddenTextCourse}">No courses found</span>
		<ol>
		  <li th:each="course: ${courses}">
		    <a th:href="@{/GoToHomeStudent(courseID=${course.courseID})}" th:text="${course.name} + '(' + ${course.courseID} + ')'"></a>
		  </li>
		</ol>
		<span style="display:none" th:style="${hiddenTextDate}" th:text="'No dates found for ' + ${Identifier}">No dates found for</span>
		<span style="display:none" th:style="${hiddenTextName}" th:text="'Dates for ' + ${Identifier}">Dates for</span>
		<ol>
			<li th:each="d: ${dates}">
		    	<a th:if="${d.registered}" th:href="@{/GoToExamResult(examDateID=${d.examDate.examDateID})}" th:text="${d.examDate.date}"></a>
		    	<a th:if="${!d.registered}" th:text="${d.examDate.date}"></a>
		    	<a th:if="${!d.registered}" th:href="@{/SubscribeToExam(examDateID=${d.examDate.examDateID},)}">
                	<button type="button">Register</button>
                </a>
		  	</li>      
		</ol>
	</div>
</body>
</html>
